
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.25px;
    text-decoration: none;
    color: #392e2c;
}

h1 {
    font-size: 45px;
    line-height: 60px;
    color: #392e2c;
}

h2 {
    color: rgb(75, 98, 127)
}

body { 
    background-color:white;
}

.title {
    font-size: 50px;
    text-align: center;
}

#header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 50px;

}

#navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navlinks li {
    list-style: none;
    padding: 0 17px;
}

#navlinks a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #366041;
}

#navlinks a:hover {
    font-weight: 700;
    transition: 0.3s;
}


#header button {
    padding: 9px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #366041;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

#header button:hover {
    background-color: #366041c0;
}

#header img {
    margin-right: auto;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
}

.container img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}
